/* html,body,.App,#root{
  width: 100%;
  height: 100%;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
.App{
  display: flex;
  position: relative;
}
::-webkit-scrollbar-thumb{
  background-color: #888;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #e0e0e0;
}
::-webkit-scrollbar-track:hover{
  background-color: #555;
}
.user-image{
  width: 100px;
  height: fit-content;
  border-radius: 50%
}
.active{
  color: #6870fa!important;
}
.active .icon{
  color: #6870fa!important;
}
.box:hover{
  color: #868dfb!important;
}
.box:hover .icon{
  color: #868dfb!important;
}
.cato{
  color: gray;
}
.header{
  margin: 20px 0 ;
}
.header h1{
  font-size: 25px;
  font-weight: bolder;
}
.header p{
  font-size: 13px;
  color: #4cceac;
}